.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* Common styles for both headers */
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Mobile header specific styles */
.mobile-header {
  background-image: url('images/header_bw.png');
  background-size: cover;
  background-position: center;
  height: 25vh;
  /* 30% of the viewport height */
}

/* Laptop header specific styles */
.laptop-header {
  background-image: url('images/header_rgb.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  /* 40% of the viewport height */
}


.top-section {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 0.1rem;
  /* Adjust this path as needed */
  background-size: auto;
}

.top-section-text {
  margin-left: 1rem;
  /* Adjust this width to match the width of your background image */
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-section-text {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* Add styles for the table container */
.table-container {
  width: 100%;
  overflow-x: auto;
  /* Allow horizontal scrolling if necessary */
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling on iOS */
}

/* Make table responsive */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style table headers and cells */
.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {

  .table th,
  .table td {
    padding: 8px 10px;
    font-size: 14px;
  }
}

.App-footer {
  background-color: #daf2ff;
  /* Light blue background */
  color: rgb(0, 0, 0);
  /* Black text color */
  padding: 1.5rem 1rem;
  /* Equivalent to py-6 px-4 */
  text-align: center;
  font-size: 0.875rem;
  /* Equivalent to text-sm */
  line-height: 1.75;
  /* Equivalent to leading-relaxed */
}

@media (min-width: 768px) {
  .App-footer {
    font-size: 1rem;
    /* Equivalent to md:text-base */
  }
}

@media (min-width: 1024px) {
  .App-footer {
    font-size: 1.125rem;
    /* Equivalent to lg:text-lg */
  }
}

/* src/App.css */

.main-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: wrap;
}

.header {
  flex-shrink: 0;
  overflow: hidden;
}

.content {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.left-panel {
  width: 20%;
  background-color: #f0f0f0;
  padding: 1rem;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 1000;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
}

.left-panel.open {
  transform: translateX(0);
}

.left-panel.open+.right-panel {
  margin-left: 20%;
  width: 80%;
}

.right-panel {
  margin-left: 0;
  width: 100%;
  /* 100% width for mobile, will adjust in JS for larger screens */
  padding: 1rem;
  overflow-y: auto;
  transition: margin-left 0.3s ease-in-out, width 0.3s ease-in-out;
}

.drawer-toggle {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: #333;
  color: white;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  z-index: 1100;
}

.footer {
  flex-shrink: 0;
  background-color: #282c34;
  color: white;
  text-align: center;
  padding: 1.5rem 1rem;
}

.category-list {
  padding: 1rem;
}

.category-image {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
  /* Adjust the gap size as needed */
}

/**
.image-boundary {
  border: 2px solid #ddd;
  /* Add a light gray border 
padding: 8px;
/* Add padding around the image 
margin-bottom: 16px;
/* Add space below the image 
display: flex;
justify-content: center;
/* Center the image horizontally 
align-items: center;
/* Center the image vertically } */


.image-boundary {
  margin-top: 50px;
  width: 128px;
  height: 150px;
  /* Adjust height as needed */
  background-image: url('images/logo.png');
  /* Path to your image */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 50px;
  /* Add space below the image */
}

.category-heading {
  margin-top: 16px;
  /* Adds vertical gap between the image and the heading */
  font-size: 1.25rem;
  /* Adjust as needed */
  font-weight: bold;
}

.category-list-ul {
  list-style-type: none;
  /* Remove default list styling */
  padding-left: 0;
  /* Remove default padding */
}

.category-list-item {
  padding-left: 10px;
  /* Adjust padding as needed */
}

.category-list-item.selected button {
  font-weight: bold;
  color: #ff0000;
  /* Red color for the selected category */
}

.category-list-item.selected button:hover {
  color: #ff0000;
  /* Maintain the selected color on hover */
}