.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



/* Common styles for both headers */
.header-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.1);
}

/* Mobile header specific styles */
.mobile-header {
  background-image: url('images/header_bw.png');
  background-size: cover;
  background-position: center;
  height: 30vh;
  /* 30% of the viewport height */
}

/* Laptop header specific styles */
.laptop-header {
  background-image: url('images/header_rgb.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  /* 40% of the viewport height */
}


.top-section {
  display: flex;
  align-items: center;
  padding: 2rem;
  border-radius: 1rem;
  margin-bottom: 0.1rem;
  /* Adjust this path as needed */
  background-size: auto;
}

.top-section-text {
  margin-left: 1rem;
  /* Adjust this width to match the width of your background image */
}

@media (max-width: 768px) {
  .top-section {
    flex-direction: column;
    align-items: flex-start;
  }

  .top-section-text {
    margin-left: 0;
    margin-top: 1rem;
  }
}

/* Add styles for the table container */
.table-container {
  width: 100%;
  overflow-x: auto;
  /* Allow horizontal scrolling if necessary */
  -webkit-overflow-scrolling: touch;
  /* Smooth scrolling on iOS */
}

/* Make table responsive */
.table {
  width: 100%;
  border-collapse: collapse;
}

/* Style table headers and cells */
.table th,
.table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {

  .table th,
  .table td {
    padding: 8px 10px;
    font-size: 14px;
  }
}